server:
  port: 9081
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  threads:
    virtual:
      enabled: true
security:
  jwt:
    secret: aGdYV091T0pXWVRta21WcW9tM3JjY1VNVlRtaG52WXZ4ZzAwN0t4RTY=
    expiration: 3600000