server:
  port: 9083
  servlet:
    context-path: /api

spring:
  threads:
    virtual:
      enabled: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/orderdb
    username: postgres
    password: postgres
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update


grpc:
  client:
    inventory-service:
      address: 'static://localhost:9095'
      negotiation-type: plaintext