server:
  port: 9082
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pctdb
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
  threads:
    virtual:
      enabled: true